<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="mybatis-config.xml"> <!--ссылка на файл со свойствами(ссылка на СУБД, логин, пароль и тп.)-->
    </properties>
<!--    <settings>&lt;!&ndash;в данном блоке можно настроить много параметров. Полный список параметров http://mybatis.github.io/mybatis-3/configuration.html#settings&ndash;&gt;-->
<!--        <setting name="logImpl" value="LOG4J"/>-->
<!--    </settings>-->
    <environments default="development"><!--в данном блоке настраиваются подключения к БД-->
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5432/anastasiia_database"/>
                <property name="username" value="anastasiia_user"/>
                <property name="password" value="password"/>
            </dataSource>
        </environment>
    </environments>
    <mappers><!--в данном блоке необходимо описать маперы, которые используются в проекте-->
        <mapper class="itmo.anasteshap.dao.mybatis.mappers.MyBatisOwnerMapper"/>
        <mapper class="itmo.anasteshap.dao.mybatis.mappers.MyBatisCatMapper"/>
    </mappers>
</configuration>